<% if @test_passage.success? %>
  <h1 style="color: green">The <%= @test_passage.test.title %> Test was Completed!</h1>
<% else %>
  <h1 style="color: red">The <%= @test_passage.test.title %> Test was failed</h1>
<% end %>
<%= link_to 'Back to tests list', tests_path %>