<p><%= Date.today.year %> TestGuru app by <% github_url('Fedor Zasechkin', 'https://github.com/CandyFet/thinknetica-Test-Guru/') %></p>
<p>App for education by completing tests</p>
<p>Study project in online school <a href="thinknetica.com">Thinknetica</a></p>