<p><%= current_year %> TestGuru app by <%= github_url(ApplicationHelper::CREATOR_NAME, ApplicationHelper::PROJECT_URL) %></p>
<p>App for education by completing tests</p>
<p>Study project in online school <%= link_to 'Thinknetica', 'https://www.thinknetica.com' %></p>